name: artifacts exercise
on: push
jobs:
    lint:
        runs-on: ubuntu-latest
        steps:
        - name: Get code
          uses: actions/checkout@v4
        - name: Install dependencies
          run: npm ci
        - name: Lint
          run: npm run lint
    test:
        needs: lint
        runs-on: ubuntu-latest
        steps:
        - name: Get code
          uses: actions/checkout@v4
        - name: Install dependencies
          run: npm ci
        - name: Test code
          run: npm run test
    build:
        needs: test
        runs-on: ubuntu-latest
        steps:
        - name: Get code
          uses: actions/checkout@v4
        - name: Install dependencies
          run: npm ci
        - name: Build project
          run: npm run build
        - name: Upload artifact
          uses: actions/upload-artifact@v4
          with:
            name: build-artifact  
            path: ./dist
    deploy:
        needs: build
        runs-on: ubuntu-latest
        steps:
        - name: Download artifact
          uses: actions/download-artifact@v4
        - name: Deploy
          run: echo "Deploying application..."   